option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: this.is.shivam@gmail.com
  aws:elasticbeanstalk:application:environment:
    TABLE: GameSessionData
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    